body {
    background-color: var(--bg-color) !important;
}

div {
    background-color: transparent;
}

.p-4 {
    background-color: var(--secondary-bg-color)
}

/* .m-autoC {
    margin-top: 10rem !important;
} */

.aboutCard {
    margin: auto;
    /* margin-top: 50px; */
    cursor: none !important;
}

.profile-card-4 {
    max-width: 600px;
    height: 770px;
    background-color: none;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.657);
    overflow: hidden;
    position: relative;
    /* margin: auto ; */
    cursor: auto;
}

.pv-auto {
    /* margin-top:auto; */
    /* bottom: -350px !important;  */
    /* position: absolute; */

    /* margin-top: 100%; */
}

.col-12 {
    background-color: transparent !important;
}

.profile-card-4 img {
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    /* position: relative; */
    /* height: fit-content; */
    bottom: 0;
    position: absolute;
    padding: 15px;
    background-color: var(--secondary-bg-color);
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -45px;
    color: #FFF;
    font-size: 20px;
    background-color: transparent !important;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: var(--secondary-color);
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 18px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 33px;
    top: -19px;
    left: 0px;
    right: 0px;
    background-color:  var(--secondary-bg-color);
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}

/* icon in about me css */
.containerIcons .icons {
    color: var(--secondary-color);
    /* outline: 1px solid var(--primary-color); */
    box-shadow: 0 0 0 1pt var(--primary-color);
    border: none;
    background-color: var(--secondary-border-color);
}

.containerIcons .icons:hover {
    color: white;
    background-color: var(--secondary-border-color);
    box-shadow: none;
}

.containerIcons {
    margin-bottom: 0 !important;
}
/*           Resume buttons css */
.resumeBtnC {
    display:flex;
    justify-content: center;
}

.resumeDBtn {
    color: rgb(0, 0, 0) !important;
    margin: 10px;
    background-color: var(--primary-color) !important;
}

.resumeDBtn:hover {
    animation: animated-border 1.5s infinite;
    border-color: var(--secondary-color);
    color: black;
    background-color: var(--secondary-color);
}

.resumePBtn:hover {
    animation: animated-border 1.5s infinite;
    border-color: var(--secondary-color);
    color: black;
    background-color: var(--secondary-color);
}

.resumePBtn {
    margin: 10px !important;
    color: white;
    background-color: rgb(97, 97, 97);
    border-color: none;
    box-shadow: 0 0 0 1pt var(--primary-color);
    margin-left: 10px;
}

.resumeT {
    margin: 0;
}


/* Skills sections */
.skillsWrapper {
    /* margin-top: 10%; */
    /* margin-bottom: 30px; */
    /* margin-top: 50px; */
    margin: auto ;
    padding: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.657);
    background-color: var(--secondary-bg-color);
    border-radius: 25px;
}

.skillsTitle {
    font-size: 40px;
    font-weight: bold;
    /* margin-top: 15px; */ 
    /* margin-left: 50px; */
    /* padding-bottom: px; */
    /* position: relative; */
    width: 170px;
    color: var(--primary-color); 
    /* background-color: var(--secondary-bg-color); */
    /* border-radius: 15px; */
}

.skillT-ma{
    margin: 0 auto ;
    /* padding:auto; */
    /* margin-left: 10%; */
}

.skillbar {
 position: relative;
 display: block;
 width: 100%;
 margin-bottom: 15px;
 margin-top: 20px;
}

.skillbarTop {
    margin-top: 10px;
}

.skillbar-bar {
 height: 3px;
 width: 0px;
 background: rgb(220, 187, 0);
 animation: animated-borderSkills 1.5s infinite;
 transition-property: width, background-color;
}

.skillbar-bar:before {
background: rgba(17, 17, 17, 0.815);
content: "";
height: 3px;
position: absolute;
width: 100%;
z-index: -1;
}

.skillbar-title {
 color: var(--font-color);
 font-size: 15px;
 font-weight: 600;
 display: inline-block;
}

.skill-bar-percent {
 float: right;
 color: var(--font-color);
 font-size: 11px;
 font-weight: 600;
 text-transform: uppercase;
}

/* Gears*/
#gear1, #gear2, #gear3 {
   /* display: block; */
   float: right;
   position: absolute;
   font-size: 20px;
   text-shadow: none;
}
           
#gear1 {
   font-size: 40px;
  margin-left: 5px;
  margin-top: 7px;
}
           
#gear2 {
   margin-left: 45px;
   margin-top: 5px;
}

#gear3 {
   margin-left: 45px;
   margin-top: 28px;
}


/*                      Gear animations */
.spin {
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
 }
 
 .spin-back {
    -webkit-animation:spin-back 15s linear infinite;
    -moz-animation:spin-back 15s linear infinite;
    animation:spin-back 15s linear infinite;
 }
  
/*               css for glowing transitions */
  
@keyframes animated-border {
    0% {
      box-shadow: 0 0 0 0 rgba(251, 186, 5, 0.671);
    }
    100% {
       box-shadow: 0 0 30px 5px rgba(255,255,255,0);
    }
}
  
  /*              responsive skill bar properties */
  @keyframes animated-borderSkills {
    0% {
      box-shadow: 0 0 0 0 rgb(255, 187, 0);
    }
    100% {
       box-shadow: 0 0 11px 1px rgba(255,255,255,0);
    }
  }
  
  @keyframes animated-borderSkillC {
    0% {
      box-shadow: 0 0 0 0 rgb(250, 38, 38);
    }
    100% {
       box-shadow: 0 0 11px 1px rgba(255,255,255,0);
    }
  }
  
  @keyframes shine {
      to {
        background-position: 200% center;
      }
  }
  
  /*                     keyframes for spinning gears */
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  
  @-moz-keyframes spin-back { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
  