/* footer css */
.footer {
    background-color: var(--secondary-bg-color);
    color: var(--font-color);
    font-size: 15px !important;
    /* position: relative; */
    margin-top: auto;
    bottom: 0;
    width: 100%;
    font-family : 'Bender', sans-serif;
    font-weight: 600;
  }