.inputGroup {
  height: 50%;
  width: 200%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.inputLabel {
  text-align: left;
}
.inputField {
  height: 30px;
}

.headerImg {
  width: 100%;
  height: 0%;
  z-index:-1;
}

.particlesJs {
  position : absolute;
  width:100%;
  height:50%;
  z-index:-1;
}