/* Projects section */

#work {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.projectsTitle {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: px;
  position: relative;
  color: var(--primary-color); 
  background-color: var(--secondary-bg-color);
  width: fit-content;
  border-radius: 15px;
  padding: 0 1%;
}

.projectsTitle::after {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 3px;
  background: var(--secondary-color);
  bottom: -7px;
  left: 13px;
}

.containerIcons {
  margin-bottom: 2em;
}

.customCard {
    border:solid 2px var(--border-color);
    outline: none;
    background-color: var(--border-color);
    border-radius: 3px;
    box-shadow: none;
    margin-top: 3%;
}

.customCard:hover {
    animation: animated-border 1.5s infinite;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.main-card-body {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding-bottom: 2px;
}

/* assignments section */

.assignmentsTitleWrapper {
  margin-top: 5%;
}

.assignmentsTitle {
    text-align: right;
    margin-bottom: 2%;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: auto;
    font-size: 40px !important;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: px;
    position: relative;
    color: var(--primary-color); 
    background-color: var(--secondary-bg-color);
    width: fit-content;
    border-radius: 15px;
    padding: 0 2%;
}

.assignmentsTitle::after {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 3px;
  background: var(--secondary-color);
  bottom: -7px;
  right: 13px;
}

.group-card-body {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding-bottom: 2px;
}

.group-img-height {
    border: none;
}

.card-footer {
    background-color:var(--secondary-bg-color); ;
    border: none;
}

.custom-length-pm {
    width: 66%;
}

.custom-length-pp {
    width: 98%;
}
.custom-length-sm {
    width: 29%;
    margin-left: 10px;
}

.custom-length-ps {
    width: 66%;
}

.custom-length-ss {
    width: 29%;
    margin-left: 10px;
}

.custom-length {
  width: 100%;
  height: 50px;
}

/*                      Custom colors for words in projects section */
.refract {
    color: rgb(0, 110, 255);
}
.javascript {
    color:rgb(255, 31, 31);
}
.moment {
    color:rgb(255, 128, 128);
}
.css {
    color: green;
}
.html {
    color: rgb(25, 25, 255);
}

.node {
    color: rgb(255, 127, 42);
}

.herkou {
    color: rgb(128, 0, 117);
}

.iconify {
    margin-bottom: 2px;
}

/* random css */
.p-border-color {
    border: solid;
   color: var(--border-color);
  }
  
  
  .p-outline {
    border-color:var(--primary-color);
  }
  
  .p-background-color {
    background-color: var(--bg-color);
  }
  
  .p-btn-color {
    background-color: var(--primary-color);
  }
  .p-btn-color:hover {
    background-color: var(--primary-colorD);
  }
  
  .s-background-color {
    background-color: var(--secondary-border-color);
  }
  
  .p-font-color {
    color: var(--font-color);
  }
  
  .p-primary-color {
    color: var(--primary-color);
  }
  .p-secondary-color {
    color: var(--secondary-color);
  }
  
  .p-tertiary-color {
    color: var(--tertiary-color);
  }
  
  .m-lc {
    margin-left: 30px;
  }
  
  .theme-text {
    height: 7px;
  }
  
  .noWrap {
    white-space:nowrap;
  }
  
  /* row margin none */
  .row-mn {
    margin-left: 0;
    margin-right: 0;
  }
  
  
  .paddingTop {
    padding-top: 26px;
  }
  
  .img-border-width {
    border-right: none;
    cursor: none;
  }
  
  .textS {
    text-shadow: 2px 1px 0px var(--tertiary-color);
  }


@media screen and (max-width: 470px) {
  .projectsTitle {
      font-size: 4.5em;
  }

  .assignmentsTitle{
    font-size: 4em;
  }
}

@media screen and (max-width: 363px) {
  .projectsTitle {
      font-size: 4em;
  }

  .assignmentsTitle{
    font-size: 3.5em;
  }
}

@media screen and (max-width: 345px) {
  .projectsTitle {
      font-size: 4em;
  }

  .assignmentsTitle{
    font-size: 3em;
  }
}

@media screen and (max-width: 250px) {
  .projectsTitle {
      font-size: 3.5em;
  }

  .assignmentsTitle{
    font-size: 2.8em;
  }
}