section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
  color: white;
}

.section-title h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: px;
  position: relative;
  color: var(--primary-color); 
  background-color: var(--secondary-bg-color);
  width: fit-content;
  border-radius: 15px;
  padding: 0 1%;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 70px;
  height: 3px;
  background: var(--secondary-color);
  bottom: -7px;
  left: 13px;
}

.section-title p {
  margin-bottom: 0;
  /* font-weight: ; */
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  font-size:25px
}
  
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(175, 175, 175);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--primary-color);
  position: relative;
  color: var(--font-color);
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 18px;
  background: #646464;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 15px;
  font-size: 15px;
}

.resume .resume-item p {
  font-size: 18px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid var(--primary-color);
}

.rowResume {
  margin-bottom: 30px;
  margin-top: 1%;
  padding: 2%;
  background-color: var(--secondary-bg-color);
  border-radius: 25px;
}